 h1, h2 {
	text-align: center;
}
.form-group {
	width: 50%;
	margin: auto;
}
#Q1-text-below {
	display: none;
}
#success, #error {
	display: none;
}
button{
	margin: 0 auto;
}
.button-container {

	text-align: center;
}
#Q1, #Q2, #Q3 {

}
